body, html {
    width: 100%;
    height: 100%;
    font-family: 'Titan One', cursive;
    background: url(field.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(68, 68, 68, 0.2);
}

h1 {
    font-size: 2rem;
    color: rgb(253, 250, 250);
}

hr {
    margin: 20px auto;
    color: rgb(255, 255, 255);
    border: 3px solid rgba(255, 255, 255, 0.778);
    max-width: 20rem;
    opacity: 1;
}

.buffer {
    height: 1rem;
}

.btn {
    font-weight: 700;
    border-radius: 90px;
    text-transform: uppercase;
    color: rgba(0, 59, 167, 0.557);
}

.btn-light {
    background-color: rgba(255, 255, 255, 0.778);
    border-color: rgba(255, 255, 255, 0.778);
}

.btn-light:hover {
    background-color: rgba(255, 255, 255, 0.778);
    color: rgb(38, 83, 165);
    border-color: rgba(255, 255, 255, 0.778);
    border-width: 3px;
}

.btn-xl {
    padding: 1rem 2rem;
}